In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt 
import pandas as pd 
import numpy as np 
import requests 
import time 
import openweathermapy as ow 
import openweathermapy.core as owm 

%cd "C:\Users\kwlei\Documents\GitHub\WeatherReport"


# Import API key
from api_key import api_key 

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy 


# Range of latitudes and longitudes
lat_range = (-55, 73)
lng_range = (-180, 180)

# produce some output 
print("some output")

C:\Users\kwlei\Documents\GitHub\WeatherReport
some output

In [49]:


weather000_load = "weather000i.csv"
weather050_load = "weather050i.csv"
weather100_load = "weather100i.csv"
weather150_load = "weather150i.csv"
weather200_load = "weather200i.csv"
weather250_load = "weather250i.csv"
weather300_load = "weather300i.csv"
weather350_load = "weather350i.csv"
weather400_load = "weather400i.csv"
# weather450_load = "weather000.csv"
weather500_load = "weather500i.csv"
# weather550_load = "weather000.csv"
weather600_load = "weather600i.csv"

In [50]:
weather000_df = pd.read_csv(weather000_load)
weather050_df = pd.read_csv(weather050_load)
weather100_df = pd.read_csv(weather100_load)
weather150_df = pd.read_csv(weather150_load)
weather200_df = pd.read_csv(weather200_load)
weather250_df = pd.read_csv(weather250_load)
weather300_df = pd.read_csv(weather300_load)
weather350_df = pd.read_csv(weather350_load)
weather400_df = pd.read_csv(weather400_load)
# weather450_df = pd.read_csv(weather450_load)
weather500_df = pd.read_csv(weather500_load)
# weather550_df = pd.read_csv(weather550_load)
weather600_df = pd.read_csv(weather600_load)

In [54]:
weather000_df = pd.DataFrame(weather000_df)
weather050_df = pd.DataFrame(weather050_df)
weather100_df = pd.DataFrame(weather100_df)
weather150_df = pd.DataFrame(weather150_df)
weather200_df = pd.DataFrame(weather200_df)
weather250_df = pd.DataFrame(weather250_df)
weather300_df = pd.DataFrame(weather300_df)
weather350_df = pd.DataFrame(weather350_df)
weather400_df = pd.DataFrame(weather400_df)
# weather450_df = pd.DataFrame(weather450_df)
weather500_df = pd.DataFrame(weather500_df)
# weather550_df = pd.DataFrame(weather550_df)
weather600_df = pd.DataFrame(weather600_df)

In [55]:

weather600_df.dtypes

name              object
sys.country       object
coord.lat        float64
coord.lon        float64
main.temp        float64
main.humidity      int64
clouds.all         int64
wind.speed       float64
dt                 int64
dtype: object

In [52]:
weather000_df = weather_df.to_csv('weather000bak.csv', index=False)
weather050_df = weather_df.to_csv('weather050bak.csv', index=False)
weather100_df = weather_df.to_csv('weather100bak.csv', index=False)
weather150_df = weather_df.to_csv('weather150bak.csv', index=False)
weather200_df = weather_df.to_csv('weather200bak.csv', index=False)
weather250_df = weather_df.to_csv('weather250bak.csv', index=False)
weather300_df = weather_df.to_csv('weather300bak.csv', index=False)
weather350_df = weather_df.to_csv('weather350bak.csv', index=False)
weather400_df = weather_df.to_csv('weather400bak.csv', index=False)

weather500_df = weather_df.to_csv('weather500bak.csv', index=False)

weather600_df = weather_df.to_csv('weather600bak.csv', index=False)

AttributeError: 'list' object has no attribute 'to_csv'

In [36]:
weather_all = pd.concat([weather000_df, weather050_df])
weather000_df

,name,sys.country,coord.lat,coord.lon,main.temp,main.humidity,clouds.all,wind.speed,dt
0,Ayagoz,KZ,47.96,80.43,16.25,32,32,3.17,1568380368
1,Neuquen,AR,-38.95,-68.06,8.00,81,0,4.10,1568380158
2,Chuy,UY,-33.69,-53.46,10.65,59,0,1.63,1568380368
3,Rikitea,PF,-23.12,-134.97,22.05,75,75,7.24,1568380369
4,Santa Isabel do Rio Negro,BR,-0.41,-65.02,27.25,73,78,0.92,1568380369
5,Nanortalik,GL,60.14,-45.24,4.55,79,14,1.95,1568380369
6,Saint-Philippe,CA,45.36,-73.48,10.68,81,1,3.60,1568380369
7,Yellowknife,CA,62.45,-114.38,9.45,93,20,4.10,1568380370
8,Vaini,IN,15.34,74.49,25.00,78,40,5.10,1568380370
9,Columbus,US,32.46,-84.99,21.97,88,40,0.92,1568380119
10,Chebarkul,RU,54.98,60.37,17.45,80,88,2.47,1568380370
11,Bluff,AU,-23.58,149.07,19.15,25,0,3.54,1568380370
12,Hovd,NO,63.83,10.70,10.15,81,90,8.20,1568380371
13,Hobart,AU,-42.88,147.33,9.49,61,20,2.60,1568380276
14,Rafaela,AR,-31.25,-61.49,13.89,47,0,1.34,1568380371
15,Teseney,ER,15.11,36.66,32.85,46,12,3.73,1568380371
16,Broome,GB,52.47,1.45,19.19,55,20,2.60,1568380371
17,Terrace,CA,54.52,-128.61,13.00,93,90,1.50,1568380372
18,Bathsheba,BB,13.22,-59.52,31.00,70,40,2.10,1568380372
19,Haines Junction,CA,60.75,-137.51,4.15,95,87,2.00,1568380372
20,Mar del Plata,AR,-46.43,-67.52,5.05,72,99,3.19,1568380372
21,Ushuaia,AR,-54.81,-68.31,2.00,59,40,4.10,1568379965
22,Touros,BR,-5.20,-35.46,26.00,83,40,4.10,1568380156
23,Atuona,PF,-9.80,-139.03,26.15,70,54,3.79,1568380373
24,Longyearbyen,NO,78.22,15.63,10.00,76,75,7.70,1568380373
25,Lamar,US,38.09,-102.62,9.00,81,1,1.50,1568380373
26,Lazaro Cardenas,MX,28.39,-105.62,20.56,72,100,0.89,1568380374
27,Bam,IR,29.11,58.36,29.45,13,0,3.47,1568380374
28,Puerto Ayora,EC,-0.74,-90.35,18.48,82,40,8.20,1568380374
29,Punta Arenas,CL,-53.16,-70.91,2.37,69,40,5.10,1568380374
30,Yumen,CN,40.29,97.04,16.95,13,11,2.08,1568380374
31,Zadar,HR,44.12,15.24,29.29,30,0,3.10,1568380375
32,Hilo,US,19.71,-155.08,19.90,78,75,2.60,1568380375
33,Port Elizabeth,US,39.31,-74.98,18.82,72,90,4.60,1568380375
34,Cape Town,ZA,-33.93,18.42,16.85,48,40,2.60,1568380375
35,Dingle,PH,11.00,122.67,24.05,92,100,3.77,1568380376
36,Ust-Kulom,RU,61.69,53.69,16.15,82,98,2.79,1568380376
37,Sakaiminato,JP,35.55,133.23,23.00,100,20,2.10,1568380376
38,Victor Harbor,AU,-35.55,138.62,11.69,87,0,2.60,1568380376
39,Aitape,PG,-3.15,142.36,25.45,86,35,3.21,1568380377
40,Severo-Kurilsk,RU,50.68,156.12,9.75,85,33,4.13,1568380377
41,Victoria,BN,5.28,115.24,27.88,78,75,3.10,1568380377
42,Bafoulabe,ML,13.81,-10.83,31.85,63,45,1.42,1568380377
43,Dukat,AL,40.25,19.57,27.20,21,0,3.58,1568380377
44,Mao,DO,19.55,-71.08,27.40,94,75,1.07,1568380099
45,Ewa Beach,US,21.32,-158.01,25.38,83,75,7.28,1568380378
46,Olean,US,42.08,-78.43,14.50,100,90,3.10,1568380379
47,Baruun-Urt,MN,46.68,113.28,9.75,60,0,2.63,1568380379
48,Boa Vista,BR,2.82,-60.67,30.00,62,0,2.60,1568380379
49,Grand Gaube,MU,-20.01,57.66,22.12,78,75,5.10,1568380379

In [37]:
weather050_df

,name,sys.country,coord.lat,coord.lon,main.temp,main.humidity,clouds.all,wind.speed,dt
0,Ayagoz,KZ,47.96,80.43,16.25,32,32,3.17,1568380368
1,Neuquen,AR,-38.95,-68.06,8.00,81,0,4.10,1568380158
2,Chuy,UY,-33.69,-53.46,10.65,59,0,1.63,1568380368
3,Rikitea,PF,-23.12,-134.97,22.05,75,75,7.24,1568380369
4,Santa Isabel do Rio Negro,BR,-0.41,-65.02,27.25,73,78,0.92,1568380369
5,Nanortalik,GL,60.14,-45.24,4.55,79,14,1.95,1568380369
6,Saint-Philippe,CA,45.36,-73.48,10.68,81,1,3.60,1568380369
7,Yellowknife,CA,62.45,-114.38,9.45,93,20,4.10,1568380370
8,Vaini,IN,15.34,74.49,25.00,78,40,5.10,1568380370
9,Columbus,US,32.46,-84.99,21.97,88,40,0.92,1568380119
10,Chebarkul,RU,54.98,60.37,17.45,80,88,2.47,1568380370
11,Bluff,AU,-23.58,149.07,19.15,25,0,3.54,1568380370
12,Hovd,NO,63.83,10.70,10.15,81,90,8.20,1568380371
13,Hobart,AU,-42.88,147.33,9.49,61,20,2.60,1568380276
14,Rafaela,AR,-31.25,-61.49,13.89,47,0,1.34,1568380371
15,Teseney,ER,15.11,36.66,32.85,46,12,3.73,1568380371
16,Broome,GB,52.47,1.45,19.19,55,20,2.60,1568380371
17,Terrace,CA,54.52,-128.61,13.00,93,90,1.50,1568380372
18,Bathsheba,BB,13.22,-59.52,31.00,70,40,2.10,1568380372
19,Haines Junction,CA,60.75,-137.51,4.15,95,87,2.00,1568380372
20,Mar del Plata,AR,-46.43,-67.52,5.05,72,99,3.19,1568380372
21,Ushuaia,AR,-54.81,-68.31,2.00,59,40,4.10,1568379965
22,Touros,BR,-5.20,-35.46,26.00,83,40,4.10,1568380156
23,Atuona,PF,-9.80,-139.03,26.15,70,54,3.79,1568380373
24,Longyearbyen,NO,78.22,15.63,10.00,76,75,7.70,1568380373
25,Lamar,US,38.09,-102.62,9.00,81,1,1.50,1568380373
26,Lazaro Cardenas,MX,28.39,-105.62,20.56,72,100,0.89,1568380374
27,Bam,IR,29.11,58.36,29.45,13,0,3.47,1568380374
28,Puerto Ayora,EC,-0.74,-90.35,18.48,82,40,8.20,1568380374
29,Punta Arenas,CL,-53.16,-70.91,2.37,69,40,5.10,1568380374
30,Yumen,CN,40.29,97.04,16.95,13,11,2.08,1568380374
31,Zadar,HR,44.12,15.24,29.29,30,0,3.10,1568380375
32,Hilo,US,19.71,-155.08,19.90,78,75,2.60,1568380375
33,Port Elizabeth,US,39.31,-74.98,18.82,72,90,4.60,1568380375
34,Cape Town,ZA,-33.93,18.42,16.85,48,40,2.60,1568380375
35,Dingle,PH,11.00,122.67,24.05,92,100,3.77,1568380376
36,Ust-Kulom,RU,61.69,53.69,16.15,82,98,2.79,1568380376
37,Sakaiminato,JP,35.55,133.23,23.00,100,20,2.10,1568380376
38,Victor Harbor,AU,-35.55,138.62,11.69,87,0,2.60,1568380376
39,Aitape,PG,-3.15,142.36,25.45,86,35,3.21,1568380377
40,Severo-Kurilsk,RU,50.68,156.12,9.75,85,33,4.13,1568380377
41,Victoria,BN,5.28,115.24,27.88,78,75,3.10,1568380377
42,Bafoulabe,ML,13.81,-10.83,31.85,63,45,1.42,1568380377
43,Dukat,AL,40.25,19.57,27.20,21,0,3.58,1568380377
44,Mao,DO,19.55,-71.08,27.40,94,75,1.07,1568380099
45,Ewa Beach,US,21.32,-158.01,25.38,83,75,7.28,1568380378
46,Olean,US,42.08,-78.43,14.50,100,90,3.10,1568380379
47,Baruun-Urt,MN,46.68,113.28,9.75,60,0,2.63,1568380379
48,Boa Vista,BR,2.82,-60.67,30.00,62,0,2.60,1568380379
49,Grand Gaube,MU,-20.01,57.66,22.12,78,75,5.10,1568380379

In [44]:
weather500_df

,name,sys.country,coord.lat,coord.lon,main.temp,main.humidity,clouds.all,wind.speed,dt
0,Ayagoz,KZ,47.96,80.43,16.25,32,32,3.17,1568380368
1,Neuquen,AR,-38.95,-68.06,8.00,81,0,4.10,1568380158
2,Chuy,UY,-33.69,-53.46,10.65,59,0,1.63,1568380368
3,Rikitea,PF,-23.12,-134.97,22.05,75,75,7.24,1568380369
4,Santa Isabel do Rio Negro,BR,-0.41,-65.02,27.25,73,78,0.92,1568380369
5,Nanortalik,GL,60.14,-45.24,4.55,79,14,1.95,1568380369
6,Saint-Philippe,CA,45.36,-73.48,10.68,81,1,3.60,1568380369
7,Yellowknife,CA,62.45,-114.38,9.45,93,20,4.10,1568380370
8,Vaini,IN,15.34,74.49,25.00,78,40,5.10,1568380370
9,Columbus,US,32.46,-84.99,21.97,88,40,0.92,1568380119
10,Chebarkul,RU,54.98,60.37,17.45,80,88,2.47,1568380370
11,Bluff,AU,-23.58,149.07,19.15,25,0,3.54,1568380370
12,Hovd,NO,63.83,10.70,10.15,81,90,8.20,1568380371
13,Hobart,AU,-42.88,147.33,9.49,61,20,2.60,1568380276
14,Rafaela,AR,-31.25,-61.49,13.89,47,0,1.34,1568380371
15,Teseney,ER,15.11,36.66,32.85,46,12,3.73,1568380371
16,Broome,GB,52.47,1.45,19.19,55,20,2.60,1568380371
17,Terrace,CA,54.52,-128.61,13.00,93,90,1.50,1568380372
18,Bathsheba,BB,13.22,-59.52,31.00,70,40,2.10,1568380372
19,Haines Junction,CA,60.75,-137.51,4.15,95,87,2.00,1568380372
20,Mar del Plata,AR,-46.43,-67.52,5.05,72,99,3.19,1568380372
21,Ushuaia,AR,-54.81,-68.31,2.00,59,40,4.10,1568379965
22,Touros,BR,-5.20,-35.46,26.00,83,40,4.10,1568380156
23,Atuona,PF,-9.80,-139.03,26.15,70,54,3.79,1568380373
24,Longyearbyen,NO,78.22,15.63,10.00,76,75,7.70,1568380373
25,Lamar,US,38.09,-102.62,9.00,81,1,1.50,1568380373
26,Lazaro Cardenas,MX,28.39,-105.62,20.56,72,100,0.89,1568380374
27,Bam,IR,29.11,58.36,29.45,13,0,3.47,1568380374
28,Puerto Ayora,EC,-0.74,-90.35,18.48,82,40,8.20,1568380374
29,Punta Arenas,CL,-53.16,-70.91,2.37,69,40,5.10,1568380374
30,Yumen,CN,40.29,97.04,16.95,13,11,2.08,1568380374
31,Zadar,HR,44.12,15.24,29.29,30,0,3.10,1568380375
32,Hilo,US,19.71,-155.08,19.90,78,75,2.60,1568380375
33,Port Elizabeth,US,39.31,-74.98,18.82,72,90,4.60,1568380375
34,Cape Town,ZA,-33.93,18.42,16.85,48,40,2.60,1568380375
35,Dingle,PH,11.00,122.67,24.05,92,100,3.77,1568380376
36,Ust-Kulom,RU,61.69,53.69,16.15,82,98,2.79,1568380376
37,Sakaiminato,JP,35.55,133.23,23.00,100,20,2.10,1568380376
38,Victor Harbor,AU,-35.55,138.62,11.69,87,0,2.60,1568380376
39,Aitape,PG,-3.15,142.36,25.45,86,35,3.21,1568380377
40,Severo-Kurilsk,RU,50.68,156.12,9.75,85,33,4.13,1568380377
41,Victoria,BN,5.28,115.24,27.88,78,75,3.10,1568380377
42,Bafoulabe,ML,13.81,-10.83,31.85,63,45,1.42,1568380377
43,Dukat,AL,40.25,19.57,27.20,21,0,3.58,1568380377
44,Mao,DO,19.55,-71.08,27.40,94,75,1.07,1568380099
45,Ewa Beach,US,21.32,-158.01,25.38,83,75,7.28,1568380378
46,Olean,US,42.08,-78.43,14.50,100,90,3.10,1568380379
47,Baruun-Urt,MN,46.68,113.28,9.75,60,0,2.63,1568380379
48,Boa Vista,BR,2.82,-60.67,30.00,62,0,2.60,1568380379
49,Grand Gaube,MU,-20.01,57.66,22.12,78,75,5.10,1568380379

In [23]:
weather_df = weather000_df 
weather_df = pd.DataFrame(weather_df)
weather_df.tail()

,name,sys.country,coord.lat,coord.lon,main.temp,main.humidity,clouds.all,wind.speed,dt
45,Ewa Beach,US,21.32,-158.01,25.38,83,75,7.28,1568380378
46,Olean,US,42.08,-78.43,14.50,100,90,3.10,1568380379
47,Baruun-Urt,MN,46.68,113.28,9.75,60,0,2.63,1568380379
48,Boa Vista,BR,2.82,-60.67,30.00,62,0,2.60,1568380379
49,Grand Gaube,MU,-20.01,57.66,22.12,78,75,5.10,1568380379

In [24]:

weather_df = weather_df.append(weather050_df,ignore_index = True) 

weather_df.tail()

,name,sys.country,coord.lat,coord.lon,main.temp,main.humidity,clouds.all,wind.speed,dt
95,Ewa Beach,US,21.32,-158.01,25.38,83,75,7.28,1568380378
96,Olean,US,42.08,-78.43,14.50,100,90,3.10,1568380379
97,Baruun-Urt,MN,46.68,113.28,9.75,60,0,2.63,1568380379
98,Boa Vista,BR,2.82,-60.67,30.00,62,0,2.60,1568380379
99,Grand Gaube,MU,-20.01,57.66,22.12,78,75,5.10,1568380379

In [25]:
weather_df = weather_df.append(weather100_df,ignore_index = True) 
weather_df.tail()

,name,sys.country,coord.lat,coord.lon,main.temp,main.humidity,clouds.all,wind.speed,dt
145,Ewa Beach,US,21.32,-158.01,25.38,83,75,7.28,1568380378
146,Olean,US,42.08,-78.43,14.50,100,90,3.10,1568380379
147,Baruun-Urt,MN,46.68,113.28,9.75,60,0,2.63,1568380379
148,Boa Vista,BR,2.82,-60.67,30.00,62,0,2.60,1568380379
149,Grand Gaube,MU,-20.01,57.66,22.12,78,75,5.10,1568380379

In [26]:
weather_df = weather_df.append(weather150_df,ignore_index = True) 
weather_df.tail()

,name,sys.country,coord.lat,coord.lon,main.temp,main.humidity,clouds.all,wind.speed,dt
195,Ewa Beach,US,21.32,-158.01,25.38,83,75,7.28,1568380378
196,Olean,US,42.08,-78.43,14.50,100,90,3.10,1568380379
197,Baruun-Urt,MN,46.68,113.28,9.75,60,0,2.63,1568380379
198,Boa Vista,BR,2.82,-60.67,30.00,62,0,2.60,1568380379
199,Grand Gaube,MU,-20.01,57.66,22.12,78,75,5.10,1568380379

In [27]:
weather_df = weather_df.append(weather200_df,ignore_index = True) 
weather_df.tail()

,name,sys.country,coord.lat,coord.lon,main.temp,main.humidity,clouds.all,wind.speed,dt
245,Ewa Beach,US,21.32,-158.01,25.38,83,75,7.28,1568380378
246,Olean,US,42.08,-78.43,14.50,100,90,3.10,1568380379
247,Baruun-Urt,MN,46.68,113.28,9.75,60,0,2.63,1568380379
248,Boa Vista,BR,2.82,-60.67,30.00,62,0,2.60,1568380379
249,Grand Gaube,MU,-20.01,57.66,22.12,78,75,5.10,1568380379

In [28]:
weather_df = weather_df.append(weather250_df,ignore_index = True) 
weather_df.tail()

,name,sys.country,coord.lat,coord.lon,main.temp,main.humidity,clouds.all,wind.speed,dt
295,Ewa Beach,US,21.32,-158.01,25.38,83,75,7.28,1568380378
296,Olean,US,42.08,-78.43,14.50,100,90,3.10,1568380379
297,Baruun-Urt,MN,46.68,113.28,9.75,60,0,2.63,1568380379
298,Boa Vista,BR,2.82,-60.67,30.00,62,0,2.60,1568380379
299,Grand Gaube,MU,-20.01,57.66,22.12,78,75,5.10,1568380379

In [29]:
weather_df = weather_df.append(weather300_df,ignore_index = True) 
weather_df.tail()

,name,sys.country,coord.lat,coord.lon,main.temp,main.humidity,clouds.all,wind.speed,dt
345,Ewa Beach,US,21.32,-158.01,25.38,83,75,7.28,1568380378
346,Olean,US,42.08,-78.43,14.50,100,90,3.10,1568380379
347,Baruun-Urt,MN,46.68,113.28,9.75,60,0,2.63,1568380379
348,Boa Vista,BR,2.82,-60.67,30.00,62,0,2.60,1568380379
349,Grand Gaube,MU,-20.01,57.66,22.12,78,75,5.10,1568380379

In [30]:
weather_df = weather_df.append(weather350_df,ignore_index = True) 
weather_df.head()

,name,sys.country,coord.lat,coord.lon,main.temp,main.humidity,clouds.all,wind.speed,dt
0,Ayagoz,KZ,47.96,80.43,16.25,32,32,3.17,1568380368
1,Neuquen,AR,-38.95,-68.06,8.00,81,0,4.10,1568380158
2,Chuy,UY,-33.69,-53.46,10.65,59,0,1.63,1568380368
3,Rikitea,PF,-23.12,-134.97,22.05,75,75,7.24,1568380369
4,Santa Isabel do Rio Negro,BR,-0.41,-65.02,27.25,73,78,0.92,1568380369

In [32]:
weather_df = weather_df.append(weather400_df, ignore_index = True) 
weather_df.head()

TypeError: append() takes no keyword arguments

In [33]:
weather_df = weather_df.append(weather500_df, ignore_index = True) 
weather_df.head()

TypeError: append() takes no keyword arguments

In [ ]:
weather_df = weather_df.append(weather600_df,ignore_index = True) 
weather_df.head()

In [34]:
weather_df = weather_df.to_csv('weather.csv', index=False)

AttributeError: 'list' object has no attribute 'to_csv'

In [7]:
AllCity_load = "AllCity.csv" 
AllCity_df = pd.read_csv(AllCity_load) 
AllCity_df = pd.DataFrame(AllCity_df)

In [ ]:
citySample_df = cityGrab_df[['NAME']].merge(AllCity_df[['NAME', 'UWM_ID']], on='NAME', how='left') 
citySample_df = citySample_df.dropna(how="any")
cityCodes_df = citySample_df['UWM_ID'].astype(np.int64)
cityCodes_df = pd.DataFrame(cityCodes_df)